@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/Game.css">
    <title>Game</title>
</head>

<body>
    <header>
        <h1>PROJEKT</h1>
    </header>
    <main>
        <h2>THE HOSTAGE</h2>
        <div class="titrepartie">
            <h3>Partie 01</h3>
            <a href="#"><i class="fas fa-save"></i></a>
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et animi fugiat, dignissimos assumenda excepturi
            voluptate optio eum temporibus adipisci iste, labore quas itaque non eaque possimus quasi sint odio totam.
        </p>
        <div class="choix">
            <div class="choix1">
                <h4>1</h4>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <br>
            <div class="choix2">
                <h4>2</h4>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            @*<div class="notif">
                <h5>Partie sauvegardée</h5>
            </div>*@
        </div>
    </main>

    <footer>
        <nav class="bouton">
            <a href="@Url.Action("Parametres", "Index")"><i class="fas fa-cog"></i></a>
            <a href="@Url.Action("ConnecterHomePage", "Index")"><i class="fas fa-home"></i></a>
            @{
                if (Session["username"] == null)
                {
                    <a href="@Url.Action("Login", "Connexion")"><i class="fas fa-power-off"></i></a>
                }
                else
                {
                    <a href="@Url.Action("Logout", "Connexion")"><i class="fas fa-power-off"></i></a>
                }
            }
        </nav>
    </footer>
</body>

</html>
