body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    height: 100%;
}

h1 {
    color: #29e943;
    display: flex;
    justify-content: center;
    font-size: 600%;

}

h2 {
    margin-bottom: 80px;
}

hr {
    border-color: #29e943;
    border-width: 3px;
    margin-left: 40%;
}

body .inputLogin {
    display: block;
}

body input {
    font-size: 40px;
}

body .inputLogin :nth-child(3) {
    background-color: #587eee;
    border-radius: 30px;
    width: 600px;
    height: 80px;
    margin: auto;
}

body .inputLogin :nth-child(1) {
    color: azure;
    font-size: 300%;
}

.mainDiv {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-style: italic
}

.foot :nth-child(1) {
    border-radius: 30px;
    width: 400px;
    height: 95px;
    background-color: #29e943;
    align-items: center;
    padding: 30px;
    font-size: xx-large;
}

.foot {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #665f61;
    flex-direction: column;
    margin-top: 80px;
    font-size: xx-large;
}

.foot :last-child {
    color: grey;
    text-decoration:none;
}

.inscription {
    color: white;
    font-size: 300%;
    font-family: sans-serif;
    font-style: italic;
    background-image: url(/fonts/MW2.jpg);
    background-repeat: no-repeat;
}

.mainDiv :first-child {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}



.mouseHover:hover {
    color: #29e943;
}

