@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="~/Content/InscriptionLoginFront.css" rel="stylesheet" />
    <title></title>
</head>

<body>
    <header>
        <h1>PROJEKT</h1>
        <hr />
    </header>
    <div class="mainDiv">
        <div>
            <div class="inscription">
                <h2>S'inscrire</h2>
                <p>S'inscrire vous permettra d'acceder aux jeux et sauvegarder votre partie.</p>
            </div>
            <div class="inputLogin">
                <label for="pseudo">Adresse Mail</label>
                <br />
                <input type="text" name="pseudo" id="pseudo" />
            </div>
            <div class="inputLogin">
                <label for="Password">Mot de passe</label>
                <br />

                <input type="text" name="Password" id="Password" />
            </div>
            <div class="inputLogin">
                <label for="ConfirmPassword">Confirmation de mot de passe</label>
                <br />

                <input type="text" name="ConfirmPassword" id="ConfirmPassword" />
            </div>
            <div class="foot">
                <button>Se connecter</button>
                <br />
                <p class="mouseHover">Vous n'êtes pas inscrit.e ?</p>
                <br />
                <p class="mouseHover">S'inscrire</p>
            </div>
        </div>

    </div>
    <div class="image"</div>
</body>
</html>